#ml_logo {
	float: right;
}

.logo_mobile {
	display: none;
}

.logo_desktop {
	margin-left: 0px;
}

#intro {
	margin-top:20px;
}

#subheader {

	padding: 20px;
	/*padding-left: 50px;*/
}

#subheader .wrapper{
	max-width: 1024px;
	margin: 0 auto;
}

#sponsors{
	max-width: 1024px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

#desc {
	max-width: 1024px;
	margin: 0 auto;
	padding: 30px 20px;
	background: transparent;
}

#desc p{
	font-size: 13pt;
	padding-bottom: 10px;
}

h2{
	text-align: left;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}

#sets{
	max-width: 700px;
	background-color: white;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.set.visible {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.set {
	left: 120%;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10px;
}

#examples {
	font-size: 15pt;
	padding: 40px 5px 20px;
	padding: 10px 0px 10px;
	background-color: black;
}

#examples img {
	width: 80px;
	vertical-align: middle;
	margin: 0 2px;
}

#media_lab_example {
	padding: 10px;
	padding-top: 200px;

}