html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
		-webkit-font-smoothing: antialiased;
	-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

:-ms-input-placeholder {  
   font-style: italic;
}

img {
	-ms-interpolation-mode: bicubic;
}

body, input {
	font-family: "helvetica", "helvetica neue", sans-serif;
	line-height: 1;
	color: #707070;
	background: #f1f1f2;
}

body, #examples, #sets {
	overflow-x: hidden;
	max-width: 1024px;
	margin: 0px auto;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.center {
	margin: 0px auto;
}

#container {
}

header {
	background: #000;
}

#ml_logo {
	vertical-align: middle;
	margin-right: 20px;
	margin-top: 5px;
}

#rwjf_logo {
	vertical-align: middle;
	float: right;
}

h1 {
	font-weight: 700;
	letter-spacing: -1px;
	color: #fff;
	font-size: 18pt;
	display: inline;
}

p {
	line-height: 1.2;
}

#subheader p {
	font-weight: 100;
	color: #fff;
	font-size: 14pt;
	display: inline;
}

#subheader {
	overflow: auto;
	padding: 10px;
	background: url(images/gradient.png) no-repeat top left;
	background-size: 110% 110%;
background-position: -10px -10px;
}

#intro {
	overflow: auto;
	max-width: 440px;
	margin-top: 40px;
	padding-bottom: 10px;
}

#sponsors {
	vertical-align: middle;
	padding: 10px;
	overflow: auto
}

#examples {
	font-size: 7.5pt;
	padding: 40px 5px 20px;
}

#examples img {
	width: 30px;
	vertical-align: middle;
	margin: 0 2px;
}

.example {
	margin: 0 0 20px 0;
}

#desc {
	background: #fff;
	padding: 30px 10px;
	max-width: 440px;
	font-size: 10pt;
}

form {
	padding: 40px 10px;
}

form p {
	margin-bottom: 30px;
}

label {
	font-weight: 600;
	background: #f2b51b;
	padding: 10px;
	color: #000;
}

input[type=text], textarea {
	border: none;
	background: transparent;
	border-bottom: 2px solid #707070;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	outline: none;
	box-shadow: none;
	font-size: 11pt;
	padding: 0;
	vertical-align: bottom;
	padding: 5px;
	padding-top: 10px;
vertical-align: middle;

}

#submit {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: linear-gradient(220deg, #57c0a5, #4bb8c4);
	font-size: 14pt;
	font-weight: 600;
	padding: 20px 40px ;
	border: none;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 0px auto;
}

#sets {
	position: relative;
}

#faq {
	padding: 10px;
	clear:both;
}

#faq_sets {
	overflow: auto;
}

#faq h3 {
	margin-bottom: 40px;
	margin-top:20px;
	font-weight: 700;
}

.q, .answer {
	font-size: 11pt;
}

.answer {
	margin-bottom: 20px;
}

.q {
	font-weight: 600;
}

.faq_set {
	margin-right: 40px;
	float: left;
	max-width: 480px;
}

.faq_set:last-child {
	margin: 0;
}